// colores principales

$color-header: rgb(195, 237, 237);
$color-contenedorh: white;
$color-footer: rgb(230, 201, 181);
$color-caja: rgb(225, 225, 114);
$box:rgb(230, 206, 181);
$color-boton:  rgb(5, 63, 51);


// estilo de lista

$n: none


